.article-view {
    max-width: 80vw;
    color: 'inherit';
    text-decoration: 'none';
}

.article-view-image {
    max-height: 45vh;
    max-width: 45vw;
    border-radius: 5%;
}

.article-title{
    color:#110EA7;
    font-size: 240%;
    font-weight: 700;
}

.darkmode .article-title {
    color: #9E1818;
}

.summary{
    font-size: 170%;
    font-weight: 800;
}

.darkmode .summary {
    color:#fafab7
}

@media screen and (min-width:1000px){
    .summary{
        font-size: 100%;
    }
}
