#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#news-title {
    color:brown;
    font-size: 400%;
    font-weight: 700;
}



@media screen and (min-width: 1000px){
    #news-title {
        font-size: 300%;
    }
    .arrow-image {
        width: 60px;
    }
}