#news-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    max-width: 48%;
    margin-bottom: 20px;
    max-height: 35vh;
}

#news-card:hover {
    cursor: pointer;
    background-color: #70707050;
}

#news-card-image {
    margin-top: 10px;
    max-width:30vw;
    max-height: 19vh;
    border-radius: 5%;
}

.news-card-title {
    margin-top: 10px;
    height:max-content;
    font-size:large;
    overflow: hidden;
}

.news-card-release {
    color: brown;
}