#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#report-title {
    color:brown;
    font-size: 400%;
    font-weight: 700;
}

#report-frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input-box {
    border-radius: 50%;
    border-width: 0;
    border: 0px;
    height: 30px;
    font-size: larger;
    color: #161336;
    margin-bottom: 30px;
    text-align: center;
}

#input-box:focus {
    outline: none;
}

@media screen and (min-width: 1000px){
    #report-title {
        font-size: 300%;
    }
    .arrow-image {
        width: 60px;
    }
}