#report-card {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 20px;
    width: 70vw;
    scroll-snap-align: start;
    flex: 0 0 auto;
}

#report-card:hover {
    cursor: pointer;
    background-color: #70707050;
}

#report-card-image {
    margin-top: 10px;
    max-width:30vw;
    max-height: 19vh;
    border-radius: 5%;
}

.report-card-title {
    height:fit-content;
    font-size:large;
    font-weight: 900;
    min-width: 150px;
}

.darkmode .report-card-title {
    color:#fafab7
}

.report-card-release {
    color: brown;
    align-self: flex-end;
}

.card-info{
    min-height: 100px;
}

.report-card-summary{
    height: 25px;
    overflow: hidden;
}