#blog-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    max-width: 30vw;
    margin-bottom: 20px;
}

#blog-card:hover {
    cursor: pointer;
}

#blog-card-image {
    margin-top: 10px;
    max-width:15vw;
    max-height: 12vh;
}

.blog-card-title {
    height:fit-content;
}

.blog-card-release {
    color: brown;
}