.navbar{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50vw;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

#navbar-logo{
    max-height: 100px;
}

#darkmode-switch{
    margin-left: 20px;
    max-height: 50px;
}

#darkmode-switch:hover {
    cursor: pointer;
}

.order-filter-box {
    display: flex;
    
}

.link-box {
    text-decoration: none;
    color: inherit;
    font-family: inherit; 
}

.navbar-links {
    display: flex;
    margin-bottom: 10px;
}

.navbar-link {
    margin-right: 30px;
    outline: inherit;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-color: #346beb30;
    padding: 3px;
    width: 100px;
    border-radius: 20%;
    color: #282108;
}

.darkmode .navbar-link {
    background-color: #4083C130;
    color: #C70130;
}