.navbar{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70vw;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

#navbar-logo{
    max-height: 150px;
}

#navbar-title{
    font-size: 350%;
}

#darkmode-switch:hover {
    cursor: pointer;
}

.order-filter-box {
    display: flex;
    
}

.link-box {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.navbar-links {
    display: flex;
}

.navbar-link {
    margin-right: 30px;
    outline: inherit;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-color: #346beb30;
    padding: 3px;
    width: 190px;
    border-radius: 20%;
    color: #282108;
    font-size: 200%;
}

#darkmode-switch{
    margin-left: 20px;
    max-height: 90px;
}

.darkmode .navbar-link {
    background-color: #4083C130;
    color: #C70130;
}

@media screen and (min-width: 1000px){
    .navbar{
        max-width: 50vw;
    }
    #navbar-logo{
        max-height: 100px;
    }
    #navbar-title{
        font-size: 150%;
    }
    .navbar-link {
        font-size: 100%;
    }
}
