#report-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    max-width: 30vw;
    margin-bottom: 20px;
}

#report-card:hover {
    cursor: pointer;
    background-color: #70707050;
}

#report-card-image {
    margin-top: 10px;
    max-width:15vw;
    max-height: 12vh;
}

.report-card-title {
    height:fit-content;
}

.report-card-release {
    color: brown;
}