#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#blog-title {
    color:brown;
    font-size: 400%;
    font-weight: 700;
}

#blog-frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 1000px){
    #blog-title {
        font-size: 300%;
    }
    .arrow-image {
        width: 60px;
    }
}
