#blog-card {
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 90%;
    margin-bottom: 20px;
    max-height: 35vh;
    scroll-snap-align: start;
}

.card-info{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    min-height: 100px;
}

#blog-card:hover {
    cursor: pointer;
    background-color: #70707050;
}

#blog-card-image {
    margin-top: 10px;
    margin-right: 20px;
    max-width:25vw;
    max-height: 16vh;
    border-radius: 5%;
}

.blog-card-title {
    margin-top: 10px;
    height:max-content;
    font-size:150%;
    font-weight: 900;
    overflow: hidden;
}

.darkmode .news-card-title {
    color:#fafab7
}

.darkmode .blog-card-title {
    color:#fafab7
}

.blog-card-release {
    color: brown;
    align-self: flex-end;
    justify-self: flex-end;
}