#blog-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    max-width: 48%;
    margin-bottom: 20px;
}

#blog-card:hover {
    cursor: pointer;
    background-color: #70707050;
}

#blog-card-image {
    margin-top: 10px;
    max-width:30vw;
    max-height: 19vh;
    border-radius: 5%;
}

.blog-card-title {
    height:max-content;
    font-size:large;
    font-weight: 900;
    overflow: hidden;
}

.darkmode .blog-card-title {
    color:#fafab7
}

.blog-card-release {
    color: brown;
}