.App {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #EAECD3;
  color: #440D4D;
  min-height: 100vh;
}

.darkmode {
  background-color: #161336;
  color: #D7EE4B;
}

